extend layout
block content
    h1 #{title}
    p Math.cosFunction() is applied to #{m1} is #{n}
    p Math.sinFunction() is applied to #{m2} is #{o}
    p Math.sinhFunction() is applied to #{m3} is #{p}